
HELPTABLE       ID_DLG_MAIN
BEGIN
    HELPITEM    ID_DLG_MAIN,        ID_DLG_MAIN,        PANEL_MAINWINDOW
    HELPITEM    ID_DLG_ABOUT,       ID_DLG_ABOUT,       PANEL_MAINWINDOW
    HELPITEM    ID_DLG_SETTINGS,    ID_DLG_SETTINGS,    PANEL_SETTINGS
/*    HELPITEM    ID_NOTEBOOK,        ID_DLG_SETTINGS,    PANEL_SETTINGS */
    HELPITEM    ID_DLG_PROGRAMEDITOR, ID_DLG_PROGRAMEDITOR, PANEL_PLAYLIST
    HELPITEM    ID_DLG_TITLEEDITOR, ID_DLG_TITLEEDITOR, PANEL_TITLEEDITOR
    HELPITEM    ID_DLG_INFO,        ID_DLG_INFO,        PANEL_INFO

    HELPITEM    ID_MB_AREYOUSURE,   ID_MB_DUMMY,        PANEL_AREYOUSURE
    HELPITEM    ID_MB_YESORNO,      ID_MB_DUMMY,        PANEL_YESORNO
    HELPITEM    ID_MB_SHAREWARE,    ID_MB_DUMMY,        PANEL_COPYRIGHT

    HELPITEM    ERRID_OFFSET + ERR_DEVICE_ADVISE, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_CONTENTS, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_EJECT, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_MUTEVOLUME, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_INFO, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_OPEN, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_PAUSE, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_PLAY, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_POSITION, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_CONNECTOR, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_RESUME, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_SETVOLUME, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_DEVICE_STOP, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_HELP_OPEN, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_PROFILE_OPEN, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_PROFILE_WRITE, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_WATCHDOG, ID_MB_DUMMY, 16000
    HELPITEM    ERRID_OFFSET + ERR_NOAUDIO, ID_MB_DUMMY, 16000
END

HELPSUBTABLE    ID_DLG_MAIN
BEGIN
    HELPSUBITEM ID_TRACKSET,                PANEL_MW_CTRL_PROGRAM
    HELPSUBITEM ID_TRACKSET_SCROLLBAR,      PANEL_MW_CTRL_PROGRAM

    HELPSUBITEM ID_VOLUME_LEFT,             PANEL_MW_CTRL_VOL_LEFT
    HELPSUBITEM ID_VOLUME_RIGHT,            PANEL_MW_CTRL_VOL_RIGHT
    HELPSUBITEM ID_CHANNEL_INDEPENDENT,     PANEL_MW_CTRL_VOL_IND
    HELPSUBITEM ID_CHANNEL_SWAP,            PANEL_MW_CTRL_VOL_SWAP
    HELPSUBITEM ID_MUTE,                    PANEL_MW_CTRL_VOL_MUTE

    HELPSUBITEM ID_CHANGE_TITLES,           PANEL_MW_CTRL_TITLEEDITOR
    HELPSUBITEM ID_PROGRAM_TITLES,          PANEL_MW_CTRL_PROGRAMEDITOR
    HELPSUBITEM ID_OPTIONS,                 PANEL_MW_CTRL_SETTINGS
    HELPSUBITEM ID_INFO,                    PANEL_MW_CTRL_INFO

    HELPSUBITEM ID_TITLE_SELECT,            PANEL_MW_CTRL_TITLE
    HELPSUBITEM ID_TIME_SLIDER,             PANEL_MW_CTRL_POSITION

    HELPSUBITEM ID_BACKWARD,                PANEL_MW_CTRL_BACKWARD
    HELPSUBITEM ID_FORWARD,                 PANEL_MW_CTRL_FORWARD
    HELPSUBITEM ID_PLAY,                    PANEL_MW_CTRL_PLAY
    HELPSUBITEM ID_PAUSE,                   PANEL_MW_CTRL_PAUSE
    HELPSUBITEM ID_STOP,                    PANEL_MW_CTRL_STOP
    HELPSUBITEM ID_EJECT,                   PANEL_MW_CTRL_EJECT
    HELPSUBITEM ID_REPEAT,                  PANEL_MW_CTRL_REPEAT

    HELPSUBITEM ID_MAIN_MENU,               PANEL_MW_MENU_POPUP
    HELPSUBITEM ID_CONTROL_MENU,            PANEL_MW_MENU_SYS
    HELPSUBITEM ID_SETTINGS_MENU,           PANEL_MW_MENU_SYS
    HELPSUBITEM ID_ABOUT,                   PANEL_MW_MENU_SYS
    HELPSUBITEM ID_DLG_ABOUT,               PANEL_ABOUT
END

HELPSUBTABLE    ID_DLG_ABOUT
BEGIN
    HELPSUBITEM DID_OK,                     PANEL_ABOUT
END

HELPSUBTABLE    ID_DLG_SETTINGS
BEGIN
    HELPSUBITEM ID_NOTEBOOK,                PANEL_SETTINGS

    HELPSUBITEM ID_NBDLG_TIME,              PANEL_SE_TIMEFORMAT
    HELPSUBITEM ID_NB_HHMMSS,               PANEL_SE_HHMMSS
    HELPSUBITEM ID_NB_MMSSFF,               PANEL_SE_MMSSFF
    HELPSUBITEM ID_NB_TIMESEP,              PANEL_SE_TIMESEP
    HELPSUBITEM ID_NB_TIMEFREQ,             PANEL_SE_TIMEFREQ

    HELPSUBITEM ID_NBDLG_DISPLAY,           PANEL_SE_ANIMATION
    HELPSUBITEM ID_NB_ANIMATION,            PANEL_SE_ANIMATION_ONOFF
    HELPSUBITEM ID_NB_ANIMATIONRATE,        PANEL_SE_ANIMATION_RATE
    HELPSUBITEM ID_NB_LISTBOXANIMATION,     PANEL_SE_LISTBOXANIMATION

    HELPSUBITEM ID_NBDLG_PLAY,              PANEL_SE_PLAY
    HELPSUBITEM ID_NB_AUTOREPEAT,           PANEL_SE_AUTOREPEAT
    HELPSUBITEM ID_NB_AUTOSTART,            PANEL_SE_AUTOSTART
    HELPSUBITEM ID_NB_BACKWARDLIMIT,        PANEL_SE_BACKWARDTHRESHOLD

    HELPSUBITEM ID_NBDLG_SAVE,              PANEL_SE_SAVE
    HELPSUBITEM ID_NB_SAVEWINDOWPOS,        PANEL_SE_SAVE_WINDOWS
    HELPSUBITEM ID_NB_SAVEVOLUME,           PANEL_SE_SAVE_VOLUME
    HELPSUBITEM ID_NB_SAVEPOSITION,         PANEL_SE_SAVE_PLAYLIST
    HELPSUBITEM ID_NB_SAVEMARKERS,          PANEL_SE_SAVE_MARKERS

    HELPSUBITEM ID_NBDLG_OUTPUT,            PANEL_SE_OUTPUT
    HELPSUBITEM ID_NB_HEADPHONES,           PANEL_SE_OUTPUT_HEADPHONES
    HELPSUBITEM ID_NB_SOUNDCARD,            PANEL_SE_OUTPUT_SOUNDCARD
    HELPSUBITEM ID_NB_AMPLIFIER,            PANEL_SE_OUTPUT_AMPLIFIER

    HELPSUBITEM ID_NBDLG_HARDWARE,          PANEL_SE_HARDWARE
    HELPSUBITEM ID_NB_LOCKEDPLAY,           PANEL_SE_HARDWARE_LOCK
    HELPSUBITEM ID_NB_DEVICENAME,           PANEL_SE_HARDWARE_NAME
END

HELPSUBTABLE    ID_DLG_TITLEEDITOR
BEGIN
    HELPSUBITEM ID_TE_SCROLLBAR,            PANEL_TE_CTRL_SCROLLBAR
    HELPSUBITEM ID_TE_SELECT_CD,            PANEL_TE_CTRL_CDTITLE
    HELPSUBITEM ID_TE_ENTRY_CD,             PANEL_TE_CTRL_CDTITLE
    HELPSUBITEM ID_TE_INFO_CD,              PANEL_TE_CTRL_CDINFO
    HELPSUBITEM ID_TE_SELECT_TRACK,         PANEL_TE_CTRL_TRACKTITLE
    HELPSUBITEM ID_TE_ENTRY_TRACK,          PANEL_TE_CTRL_TRACKTITLE
    HELPSUBITEM ID_TE_INFO_TRACK,           PANEL_TE_CTRL_TRACKINFO
/*    HELPSUBITEM ID_TE_LIBRARY,              PANEL_TE_CTRL_LIBRARY */
    HELPSUBITEM ID_TE_INFO,                 PANEL_TE_CTRL_INFO
/*    HELPSUBITEM ID_TE_DELETE,               PANEL_TE_CTRL_DELETE */
    HELPSUBITEM ID_TE_QUIT,                 PANEL_TE_CTRL_QUIT
    HELPSUBITEM ID_TE_PROGRAM,              PANEL_TE_CTRL_PROGRAM
END

HELPSUBTABLE    ID_DLG_PROGRAMEDITOR
BEGIN
    HELPSUBITEM ID_PE_CD_SELECT,            PANEL_PE_CTRL_CDSELECT
    HELPSUBITEM ID_PE_PLAYLIST_SELECT,      PANEL_PE_CTRL_PROGRAMSELECT
    HELPSUBITEM ID_PE_INFO,                 PANEL_PE_CTRL_INFO
    HELPSUBITEM ID_PE_INSERT_BEGIN,         PANEL_PE_CTRL_INSERTBEGIN
    HELPSUBITEM ID_PE_INSERT,               PANEL_PE_CTRL_INSERT
    HELPSUBITEM ID_PE_INSERT_END,           PANEL_PE_CTRL_INSERTEND
    HELPSUBITEM ID_PE_DELETE,               PANEL_PE_CTRL_DELETE
    HELPSUBITEM ID_PE_SAVE,                 PANEL_PE_CTRL_SAVE
    HELPSUBITEM ID_PE_QUIT,                 PANEL_PE_CTRL_QUIT
    HELPSUBITEM ID_PE_SHUFFLE,              PANEL_PE_CTRL_SHUFFLE
    HELPSUBITEM ID_PE_REVERSE,              PANEL_PE_CTRL_REVERSE
    HELPSUBITEM ID_PE_STANDARD,             PANEL_PE_CTRL_STANDARD
END

HELPSUBTABLE    ID_DLG_INFO
BEGIN
    HELPSUBITEM ID_IN_SCROLLBAR,            PANEL_IN_CTRL_SCROLLBAR
    HELPSUBITEM ID_IN_QUIT,                 PANEL_IN_CTRL_QUIT
END

HELPSUBTABLE    ID_MB_DUMMY
BEGIN
END

