#define  INCL_WIN
#define  INCL_PM
#define  INCL_DOS
#define  INCL_WINMENUS

#define  INCL_CIRCULARSLIDER  /* need this for the circular slider control */
#define  INCL_GRAPHICBUTTON   /* need this for the graphic buttons control */
#define  INCL_BITMAP

#include <os2.h>
#include <sw.h>

#include "cdid.h"

#include "version.h"

#if defined(RELEASE)
#include "username.h"
#endif

#if defined(LANG_DEU)
#include "deu\language.h"
#endif

#if defined(LANG_ENG)
#include "eng\language.h"
#endif

ICON ID_ICON "cdplayer.ico"

BITMAP ID_BMP_BACK0     "back0.bmp"
BITMAP ID_BMP_BACK1     "back1.bmp"
BITMAP ID_BMP_FORWARD0  "forward0.bmp"
BITMAP ID_BMP_FORWARD1  "forward1.bmp"
BITMAP ID_BMP_PLAY0     "play0.bmp"
BITMAP ID_BMP_PLAY1     "play1.bmp"
BITMAP ID_BMP_PAUSE0    "pause0.bmp"
BITMAP ID_BMP_PAUSE1    "pause1.bmp"
BITMAP ID_BMP_STOP0     "stop0.bmp"
BITMAP ID_BMP_STOP1     "stop1.bmp"
BITMAP ID_BMP_EJECT0    "eject0.bmp"
BITMAP ID_BMP_EJECT1    "eject1.bmp"
BITMAP ID_BMP_REPEAT0   "repeat0.bmp"
BITMAP ID_BMP_REPEAT1   "repeat1.bmp"
BITMAP ID_BMP_NREPEAT0  "nrepeat0.bmp"
BITMAP ID_BMP_NREPEAT1  "nrepeat1.bmp"
BITMAP ID_BMP_MUTE0     "mute0.bmp"
BITMAP ID_BMP_MUTE1     "mute1.bmp"
BITMAP ID_BMP_MUTE2     "mute2.bmp"
BITMAP ID_BMP_ANIMATE00 "animat00.bmp"
BITMAP ID_BMP_ANIMATE02 "animat02.bmp"
BITMAP ID_BMP_ANIMATE04 "animat04.bmp"
BITMAP ID_BMP_ANIMATE06 "animat06.bmp"
BITMAP ID_BMP_ANIMATE08 "animat08.bmp"
BITMAP ID_BMP_ANIMATE10 "animat10.bmp"
BITMAP ID_BMP_ANIMATE12 "animat12.bmp"
BITMAP ID_BMP_ANIMATE14 "animat14.bmp"
BITMAP ID_BMP_ANIMATE18 "animat18.bmp"
BITMAP ID_BMP_ANIMATE20 "animat20.bmp"
BITMAP ID_BMP_ANIMATE22 "animat22.bmp"
BITMAP ID_BMP_ANIMATE24 "animat24.bmp"
BITMAP ID_BMP_ANIMATE26 "animat26.bmp"
BITMAP ID_BMP_ANIMATE28 "animat28.bmp"
BITMAP ID_BMP_ANIMATE30 "animat30.bmp"
BITMAP ID_BMP_ANIMATE32 "animat32.bmp"
BITMAP ID_BMP_ANIMATE34 "animat34.bmp"
BITMAP ID_BMP_ANIMATE36 "animat36.bmp"
BITMAP ID_BMP_ANIMATE38 "animat38.bmp"
BITMAP ID_BMP_ANIMATE40 "animat40.bmp"
BITMAP ID_BMP_ANIMATE42 "animat42.bmp"
BITMAP ID_BMP_ANIMATE44 "animat44.bmp"
BITMAP ID_BMP_ANIMATE46 "animat46.bmp"

STRINGTABLE
BEGIN
    IDS_APPL            LS_WM_TITLE
    IDS_TITLE_SEP       LS_WM_TITLESEP
    IDS_CDUNTITLED      LS_WM_CDUNTITLED 
    IDS_CDNONE          LS_WM_CDNONE     
    IDS_CDNOAUDIO       LS_WM_CDNOAUDIO  
    IDS_TIME_UNKNOWN    LS_WM_TIMEUNKNOWN
    IDS_TRACK_UNKNOWN   LS_WM_TRACKUNKNOWN
    IDS_MMDEVICEERR     LS_ERR_DEVICE
    IDS_APPLKILL        LS_ERR_APPLKILL
    IDS_ABOUTTEXT       LS_MS_ABOUTTEXT
    IDS_PLAYERTEXT      LS_WM_TITLE
    IDS_CONTROL         LS_MS_CONTROL
    IDS_MUTEOFF         LS_MM_MUTEOFF 
    IDS_MUTEON          LS_MM_MUTEON  
    IDS_SETTINGS        LS_MS_SETTINGS
    IDS_HELP            LS_MS_HELP_MENU
    IDS_INIFILE         "CDPLAYER.INI"
    IDS_TABDISPLAY      LS_WS_TABDISPLAY   
    IDS_TABANIMATION    LS_WS_TABANIMATION 
    IDS_TABSAVE         LS_WS_TABSAVE      
    IDS_TABOUTPUT       LS_WS_TABOUTPUT    
    IDS_TABOUTPUTDEST   LS_WS_TABOUTPUTDEST
    IDS_TABDEVICE       LS_WS_TABDEVICE    
    IDS_PAGEONEOFONE    LS_WS_PAGEONEOFONE 
    IDS_LIBRARY         LS_WT_LIBRARY
    IDS_CHANGE          LS_WT_CHANGE
    IDS_HELPTITLE       LS_WH_TITLE
    IDS_PROGRAMSAVE     LS_WP_WANTTOSAVE
    IDS_CDDELETE        LS_WT_AREYOUSURE
    IDS_IMPORT          LS_WT_IMPORT
    IDS_DELETE          LS_WT_DELETE
    IDS_NONE            LS_WI_UPCNONE
    IDS_SHAREWARE       LS_DIV_SHAREWARE
    IDS_TELIBRARY       LS_WT_MAINTITLELIB
    IDS_TECHANGE        LS_WT_MAINTITLE
    IDS_NODEVICE        LS_WM_NODEVICE
    IDS_REGISTEREDFOR   LS_WA_REGISTEREDFOR
    IDS_UNDER           LS_WA_UNDER
    IDS_REGRIGHT        LS_DIV_REGRIGHT
    IDS_REGWRONG        LS_DIV_REGWRONG
END

STRINGTABLE
BEGIN
    ERR_UNKNOWN             LS_ERR_UNKNOWN           
    ERR_DEVICE_ADVISE       LS_ERR_DEVICE_ADVISE     
    ERR_DEVICE_CONTENTS     LS_ERR_DEVICE_CONTENTS   
    ERR_DEVICE_EJECT        LS_ERR_DEVICE_EJECT      
    ERR_DEVICE_MUTEVOLUME   LS_ERR_DEVICE_MUTEVOLUME 
    ERR_DEVICE_INFO         LS_ERR_DEVICE_INFO       
    ERR_DEVICE_OPEN         LS_ERR_DEVICE_OPEN       
    ERR_DEVICE_PAUSE        LS_ERR_DEVICE_PAUSE      
    ERR_DEVICE_PLAY         LS_ERR_DEVICE_PLAY       
    ERR_DEVICE_POSITION     LS_ERR_DEVICE_POSITION   
    ERR_DEVICE_CONNECTOR    LS_ERR_DEVICE_CONNECTOR  
    ERR_DEVICE_RESUME       LS_ERR_DEVICE_RESUME     
    ERR_DEVICE_SETVOLUME    LS_ERR_DEVICE_SETVOLUME  
    ERR_DEVICE_STOP         LS_ERR_DEVICE_STOP       
    ERR_HELP_OPEN           LS_ERR_HELP_OPEN         
    ERR_PROFILE_OPEN        LS_ERR_PROFILE_OPEN      
    ERR_PROFILE_WRITE       LS_ERR_PROFILE_WRITE     
    ERR_WATCHDOG            LS_ERR_WATCHDOG          
    ERR_NOAUDIO             LS_ERR_NOAUDIO           
END                                                  

MENU ID_MAIN_MENU
BEGIN
    MENUITEM LS_MM_BACKWARD, ID_BACKWARD
    MENUITEM LS_MM_FORWARD, ID_FORWARD
    MENUITEM LS_MM_PLAY, ID_PLAY
    MENUITEM LS_MM_PAUSE, ID_PAUSE
    MENUITEM LS_MM_STOP, ID_STOP
    MENUITEM LS_MM_EJECT, ID_EJECT
    MENUITEM LS_MM_REPEAT, ID_REPEAT
    MENUITEM LS_NULL, 0, MIS_SEPARATOR
    MENUITEM LS_MM_MUTEOFF, ID_MUTE
    MENUITEM LS_NULL, 0, MIS_SEPARATOR
    MENUITEM LS_MM_CHANGE_TITLES, ID_CHANGE_TITLES
    MENUITEM LS_MM_PROGRAM_TITLES, ID_PROGRAM_TITLES
    MENUITEM LS_MM_OPTIONS, ID_OPTIONS
    MENUITEM LS_MM_INFO, ID_INFO
    MENUITEM LS_NULL, 0, MIS_SEPARATOR
    SUBMENU LS_MM_HELP_MENU, ID_HELP_MENU
    BEGIN
        MENUITEM LS_MH_HELPINDEX, ID_HELPINDEX
        MENUITEM LS_MH_HELPEXTENDED, ID_HELPEXTENDED
        MENUITEM LS_MH_HELPONHELP, ID_HELPONHELP
        MENUITEM LS_MH_HELPKEYS, ID_HELPKEYS
        MENUITEM LS_NULL, 0, MIS_SEPARATOR
        MENUITEM LS_MH_ABOUT, ID_ABOUT
    END
    MENUITEM LS_NULL, 0, MIS_SEPARATOR
    MENUITEM LS_MM_CLOSE, SC_CLOSE, MIS_SYSCOMMAND
END

MENU ID_CONTROL_MENU
BEGIN
    MENUITEM LS_MM_BACKWARD, ID_BACKWARD
    MENUITEM LS_MM_FORWARD, ID_FORWARD
    MENUITEM LS_MM_PLAY, ID_PLAY
    MENUITEM LS_MM_PAUSE, ID_PAUSE
    MENUITEM LS_MM_STOP, ID_STOP
    MENUITEM LS_MM_EJECT, ID_EJECT
    MENUITEM LS_MM_REPEAT, ID_REPEAT
END

MENU ID_SETTINGS_MENU
BEGIN
    MENUITEM LS_MM_CHANGE_TITLES, ID_CHANGE_TITLES
    MENUITEM LS_MM_PROGRAM_TITLES, ID_PROGRAM_TITLES
    MENUITEM LS_MM_OPTIONS, ID_OPTIONS
    MENUITEM LS_MM_INFO, ID_INFO
END

MENU ID_HELP_MENU
BEGIN
    MENUITEM LS_MH_HELPINDEX, ID_HELPINDEX
    MENUITEM LS_MH_HELPEXTENDED, ID_HELPEXTENDED
    MENUITEM LS_MH_HELPONHELP, ID_HELPONHELP
    MENUITEM LS_MH_HELPKEYS, ID_HELPKEYS
END

ACCELTABLE ID_DLG_MAIN
BEGIN
    "R", ID_ENTERREG, CONTROL, ALT
    "r", ID_ENTERREG, CONTROL, ALT
    "B", ID_BACKWARD, CONTROL
    "b", ID_BACKWARD, CONTROL
    "F", ID_FORWARD, CONTROL
    "f", ID_FORWARD, CONTROL
    "P", ID_PLAY, CONTROL
    "p", ID_PLAY, CONTROL
    "A", ID_PAUSE, CONTROL
    "a", ID_PAUSE, CONTROL
    "S", ID_STOP, CONTROL
    "s", ID_STOP, CONTROL
    "E", ID_EJECT, CONTROL
    "e", ID_EJECT, CONTROL
    "R", ID_REPEAT, CONTROL
    "r", ID_REPEAT, CONTROL 
/*    "?", ID_HELPEXTENDED, SHIFT */
/*    "?", ID_HELPEXTENDED, CHAR */
    "I", ID_INFO, CONTROL
    "i", ID_INFO, CONTROL
    "H", ID_HELP, CONTROL, HELP
    "h", ID_HELP, CONTROL, HELP
    "M", ID_MUTE, CONTROL
    "m", ID_MUTE, CONTROL
    VK_INSERT, ID_SETMARKER, VIRTUALKEY
    VK_DELETE, ID_DELMARKER, VIRTUALKEY
    VK_F1, ID_SETTRACK1, VIRTUALKEY, CONTROL
    VK_F2, ID_SETTRACK2, VIRTUALKEY, CONTROL
    VK_F3, ID_SETTRACK3, VIRTUALKEY, CONTROL
    VK_F4, ID_SETTRACK4, VIRTUALKEY, CONTROL
    VK_F5, ID_SETTRACK5, VIRTUALKEY, CONTROL
    VK_F6, ID_SETTRACK6, VIRTUALKEY, CONTROL
    VK_F7, ID_SETTRACK7, VIRTUALKEY, CONTROL
    VK_F8, ID_SETTRACK8, VIRTUALKEY, CONTROL
    VK_F9, ID_SETTRACK9, VIRTUALKEY, CONTROL
    VK_F10, ID_SETTRACK10, VIRTUALKEY, CONTROL
    VK_F11, ID_SETTRACK11, VIRTUALKEY, CONTROL
    VK_F12, ID_SETTRACK12, VIRTUALKEY, CONTROL
    "+", ID_KSEEKP600, CONTROL, SHIFT
    "+", ID_KSEEKP75, CONTROL, ALT
    "+", ID_KSEEKP15, ALT
    "+", ID_KSEEKP10, SHIFT
    "+", ID_KSEEKP60, CONTROL
    "+", ID_KSEEKP1, CHAR
    "-", ID_KSEEKM600, CONTROL, SHIFT
    "-", ID_KSEEKM75, CONTROL, ALT
    "-", ID_KSEEKM15, ALT
    "-", ID_KSEEKM10, SHIFT
    "-", ID_KSEEKM60, CONTROL
    "-", ID_KSEEKM1, CHAR
END

ACCELTABLE ID_DLG_TITLEEDITOR
BEGIN
    "L", ID_TE_LIBRARY, CONTROL
    "l", ID_TE_LIBRARY, CONTROL
    "P", ID_TE_PROGRAM, CONTROL
    "p", ID_TE_PROGRAM, CONTROL
    "I", ID_TE_INFO, CONTROL
    "i", ID_TE_INFO, CONTROL
    "Q", ID_TE_QUIT, CONTROL
    "q", ID_TE_QUIT, CONTROL
/*    "?", ID_TE_HELP, SHIFT */
/*    "?", ID_TE_HELP, CHAR */
    "H", ID_TE_HELP, CONTROL, HELP
    "h", ID_TE_HELP, CONTROL, HELP
END

/*
ACCELTABLE ID_TE_ENTRY_TRACK
BEGIN
    VK_DOWN, ID_TE_DOWN, VIRTUALKEY
    VK_UP, ID_TE_UP, VIRTUALKEY
    VK_DOWN, ID_TE_END, VIRTUALKEY, CONTROL
    VK_UP, ID_TE_HOME, VIRTUALKEY, CONTROL
    VK_HOME, ID_TE_HOME, VIRTUALKEY
    VK_END, ID_TE_END, VIRTUALKEY
    VK_HOME, ID_TE_HOME, VIRTUALKEY, CONTROL
    VK_END, ID_TE_END, VIRTUALKEY, CONTROL
    VK_ENTER, ID_TE_ENTER, VIRTUALKEY
    VK_NEWLINE, ID_TE_ENTER, VIRTUALKEY
END
*/

ACCELTABLE ID_DLG_PROGRAMEDITOR
BEGIN
    "I", ID_PE_INFO, CONTROL
    "i", ID_PE_INFO, CONTROL
    "D", ID_PE_DELETE, CONTROL
    "D", ID_PE_DELETE, CONTROL
    "Q", ID_PE_QUIT, CONTROL
    "q", ID_PE_QUIT, CONTROL
    "S", ID_PE_SAVE, CONTROL
    "s", ID_PE_SAVE, CONTROL
    "U", ID_PE_SHUFFLE, CONTROL
    "u", ID_PE_SHUFFLE, CONTROL
    "R", ID_PE_REVERSE, CONTROL
    "r", ID_PE_REVERSE, CONTROL
    "T", ID_PE_STANDARD, CONTROL
    "t", ID_PE_STANDARD, CONTROL
/*    "?", ID_PE_HELP, SHIFT */
/*    "?", ID_PE_HELP, CHAR */
    "H", ID_PE_HELP, CONTROL, HELP
    "h", ID_PE_HELP, CONTROL, HELP
    VK_DELETE, ID_PE_DELETE, VIRTUALKEY
    VK_INSERT, ID_PE_INSERT, VIRTUALKEY
    VK_ENTER, ID_PE_INSERT_END, VIRTUALKEY
    VK_NEWLINE, ID_PE_INSERT_END, VIRTUALKEY
    VK_ENTER, ID_PE_INSERT_BEGIN, VIRTUALKEY, CONTROL
    VK_NEWLINE, ID_PE_INSERT_BEGIN, VIRTUALKEY, CONTROL
END

ACCELTABLE ID_DLG_INFO
BEGIN
    VK_ESC, ID_IN_QUIT, VIRTUALKEY
    "Q", ID_IN_QUIT, CONTROL
    "q", ID_IN_QUIT, CONTROL
/*    "?", ID_IN_HELP, SHIFT */
/*    "?", ID_IN_HELP, CHAR */
    "H", ID_IN_HELP, CONTROL, HELP
    "h", ID_IN_HELP, CONTROL, HELP
END

rcinclude CDDLG.DLG
rcinclude CDHELP.RC
